@model Bloomfiy.Models.User

@{
    ViewBag.Title = "Register";
}

<h2>Create New Account</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post">

    <label>Full Name</label>
    <input type="text" name="FullName" class="form-control" required />

    <label>Email</label>
    <input type="email" name="Email" class="form-control" required />

    <label>Username</label>
    <input type="text" name="Username" class="form-control" required />

    <label>Password</label>
    <input type="password" name="Password" class="form-control" required />

    <label>Confirm Password</label>
    <input type="password" name="passwordConfirm" class="form-control" required />

    <br />

    <button type="submit" class="btn btn-success">Register</button>
</form>
