.profile-container {
    max-width: 600px;
    margin: 80px auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

    .profile-container h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #ff8fb1;
        font-weight: 600;
    }

.profile-box p {
    font-size: 18px;
    margin-bottom: 12px;
}

.profile-logout-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #ff6f99;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

    .profile-logout-btn:hover {
        background-color: #ff4f88;
    }
